@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron:wght@500&family=Outfit:wght@200;300;500&family=Shadows+Into+Light&display=swap');

:root {
    --red: #ff3838;
}

* {
    font-family: 'Outfit', sans-serif;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background: rgb(213, 213, 213);
}

section {
    padding: 2rem 9%;
    background: #e9fdfa;
}

.heading {
    text-align: start;
    font-size: 3.5rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    padding: 1rem;
    color: rgb(0 0 0);
    text-align: center;
}

.heading span {
    color: #D46930;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    text-shadow: 5px 5px rgb(7 7 7);
}

section .home .content .btn {
    left: 10%;
    background-color: #333;
    border: .2rem solid rgb(255, 255, 255);

}

.btn {
    display: inline-block;
    padding: 0.8rem 3rem;
    border: 0.2rem solid rgba(58, 200, 177, 0.8);
    color: #D46930;
    cursor: pointer;
    font-size: 2rem;
    font-family: 'Outfit', sans-serif;
    background: #33383b;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: rgb(215, 144, 13);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
    left: 0;

}

.btn:hover {
    color: black;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    right: 0;
    left: 0;
    background: rgb(247 247 247);
    box-shadow: 0 0 10px rgba(171, 171, 171, 0.8);
    z-index: 1000;
    padding: 1rem 8rem;
}

header .icon .sign_btn {
    background: #D46930;
    cursor: pointer;
    padding: 12px 25px;
    margin: 5px;
    display: inline-block;
    border-radius: 25px;
}

header .icon .sign_btn a {
    color: rgb(232, 232, 232);
    margin-right: 5px;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5em;
    transition: 0.3s;
}

header .icon .sign_btn a::after {
    content: '';
    width: 0%;
    transition: 0.2s linear;
}

header .icon .sign_btn a:hover::after {
    width: 100%;
}

header .icon .sign_btn a:hover {
    color: rgb(7, 7, 7);
}


header .logo img {
    width: 90px;
    cursor: pointer;
}

nav.navbar {
    margin-left: auto;
}

header .navbar a {
    display: inline-block;
    margin: 0 15px;
}

header .navbar a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

header .navbar a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(215, 144, 13);
    display: block;
    transition: 0.2s linear;
}

header .navbar a:hover::after {
    width: 100%;
}

header .navbar a:hover {
    color: rgb(215, 144, 13);
}

header .icon i {
    font-size: 18px;
    color: black;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

header .icon :hover {
    color: rgb(215, 144, 13);
}

#menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
    right: 13px;
    position: fixed;
}

.home {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(https://raw.githubusercontent.com/llnmmntbln/Web-Dev/main/gdfgdfgdfg.png);
    background-attachment: fixed;
    background-size: cover;

}

.home .content {
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    width: 100%;
    padding: 2rem;
    animation: float 3s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(3rem);
    }
}

.home .content h3 {
    font-size: 10rem;
    text-shadow: 5px 5px #D46930;
    color: #33383b;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-bottom: -2vh;
}

.home .content p {
    font-size: 4rem;
    color: rgba(58, 200, 177, 0.8);
    font-weight: 900;
    font-family: 'Shadows Into Light', sans-serif;
    text-align: end;
}

.home .content h4 {
    font-size: 5rem;
    text-shadow: 2px 2px #D46930;
    font-family: 'Outfit', sans-serif;
    color: rgb(62, 63, 63);
    padding: 1rem 0;
    text-align: center;
    margin-top: -1vh;
}

.bundles {
    background: rgb(62, 63, 63);
}

.bundles .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.bundles .box-container .box {
    padding: 2rem;
    background: rgb(255, 255, 255);
    box-shadow: 0.5rem 1rem rgba(58, 200, 177, 0.8);
    border: 0.2rem solid rgba(0, 0, 0, .8);
    border-radius: 0.5rem;
    text-align: center;
    flex: 1 1 30rem;
    position: relative;
}

.bundles .box-container .box img {
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
}

.bundles .box-container .box .price {
    position: absolute;
    top: 3rem;
    left: 3rem;
    background: rgb(215, 144, 13);
    color: white;
    font-size: 2rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.bundles .box-container .box h3 {
    color: black;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    padding-top: 1rem;
}

.bundles {
    background: #e9fdfa;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.bundles .box-container .box h3 span {
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
    color: rgb(215, 144, 13);
}

.products {
    background: #e9fdfa;
}

.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box {
    height: 25rem;
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.products .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.products .box-container .box .content {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.products .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.products .box-container .box .content p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.products .box-container .box:hover .content {
    top: 0;
    transition: .5s ease;
}

.steps {
    background: #33383b;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}

.steps .box {
    flex: 1 1 25rem;
    padding: 1rem;
    text-align: center;
}

.steps .box img {
    border-radius: 50%;
    width: 50%;
    border: 1rem solid rgba(58, 200, 177, 0.8);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.steps .box h3 {
    font-size: 2.5rem;
    color: rgb(233, 233, 233);
    padding: 1rem 0;
    font-weight: 400;
}

.steps .box img:hover {
    transform: translateY(-1.5vh);
    transition: .5s;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
}

.column {
    width: 100%;
    padding: 0.5em 0;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #33383b;
    text-shadow: 3px 3px #59cbb9;
    font-family: 'Orbitron', sans-serif;
}

.card {
    box-shadow: 0 0 0.4em rgb(212 105 48);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: rgb(62, 63, 63);
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
}

.card .img-container {
    width: 8em;
    height: 8em;
    background-color: rgb(62, 63, 63);
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}

.card img {
    width: 100%;
    border-radius: 50%;
}

.card h3 {
    font-weight: 500;
    font-size: 2em;
    font-family: 'Outfit';
}

.card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0px 2em 0;
    letter-spacing: 2px;
    font-size: 1.3em;
}

.icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
}

.card:hover {
    background: #D46930;
    color: #ffffff;
}

.card:hover .img-container {
    transform: scale(1.15);
}

section h1 span {
    color: #D46930;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    text-shadow: 5px 5px rgb(7 7 7);
}

.about {
    height: 100vh;
    width: 100%;
    background: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .main img {
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}

.all-text {
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}

.main {
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #33383b;
    font-weight: 700;
    margin-bottom: 10px;
}

.all-text h3 {
    font-size: 65px;
    color: #33383b;
    font-weight: 700;
    margin-bottom: 20px;
}

.all-text p {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: #33383b;
    line-height: 30px;
    margin-bottom: 30px;
}

.bttn .button {
    background: white;
    padding: 20px 32px;
    font-size: 16px;
    font-weight: 500;
    color: #33383b;
    border: none;
    outline: none;
    box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 9%);
    margin-right: 10px;
}

.bttn .button:hover {
    background-color: #c9fff7;
    color: #33383b;
    transition: .3s;
    cursor: pointer;
}

.bttn .btn2 {
    background: #33383b;
    color: white;
    padding: 20px 32px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 9%);
}

.bttn .btn2:hover {
    background-color: #c9fff7;
    color: #33383b;
    transition: .3s;
    cursor: pointer;
}

.footer-distributed {
    background: #33383b;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 12%);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    font-size: 10rem;
    text-shadow: 5px 5px #D46930;
    color: #e7e7e7;
    font-family: 'Orbitron', sans-serif;
    text-align: middle;

}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: rgb(247, 247, 247);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #d46930;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: white;
    text-decoration: none;
    text-transform: initial;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #d46930;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 30px;
    font-weight: normal;
    margin-bottom: -25px;
    text-align: center;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    text-align: center;
}

.footer-distributed .footer-company-about .logo img {
    width: 60%;
    margin-top: -20px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #d46930;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

























































































































/* Media Queries */

@media(max-width:991px) {

    html {
        font-size: 50%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .footer-distributed .footer-company-about .logo img {
        width: 100%;
    }

}

@media screen and (max-width: 650px) {
    .about .main img {
        margin-bottom: 35px;
    }

    .all-text h3 {
        font-size: 45px;
        margin-bottom: 20px;
    }
}

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }


    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}


@media screen and (min-width: 768px) {
    section {
        padding: 1em 7em;
    }
}

@media screen and (min-width: 992px) {
    section {
        padding: 5em;
    }

    .card {
        padding: 5em 1em;
        margin-bottom: 3em;
    }

    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
    }
}

@media(max-width:768px) {

    #menu-bar {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(235, 234, 234);
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid rgb(215, 144, 13);
    }

    .footer-distributed .footer-company-about .logo img {
        width: 50%;
    }
}

@media(max-width:400px) {

    html {
        font-size: 45%;
    }

    header {
        padding: 2rem;
    }

    header .icon i {
        display: none;
    }
}